.dates p {
  margin: 0rem 0rem 0rem 0rem;
  font-weight: 600;
  padding: 0rem 0rem 0rem 0rem;
}

.dates input {
  background-color: transparent;
  width: 25rem;
  max-width: 20rem;
  height: 2.2rem;
  border: none;
  outline: none;
}

.inputContainer {
  display: flex;
  border-radius: 0.5rem;
  margin: 0 0 2rem 0rem;
  padding: 0 0 0 1rem;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  justify-content: center;
  border: 1px solid #353535;
}

.inputContainer img {
  width: 1.2rem;
  height: 1.2rem;
}

.eyeButton {
  background: transparent;
  border: none;
  padding: 0.1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.eyeButton img {
  width: 1.2rem;
  height: 1.2rem;
}
