.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container .section_1,
.container .section_2 {
  will-change: transform, opacity;
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-110%);
    opacity: 1;
    width: 120vh;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(170%);
    opacity: 1;
    width: 120vh;
  }
}

.container:global(.slide-left) .section_1 {
  animation: slideOutLeft 1.3s cubic-bezier(0.45, 0, 0.2, 1) forwards;
}
.container:global(.slide-left) .section_2 {
  animation: slideOutRight 1.3s cubic-bezier(0.45, 0, 0.2, 1) forwards;
}

.container:global(.slide-right) .section_1 {
  animation: slideOutRight 1.3s cubic-bezier(0.45, 0, 0.2, 1) forwards;
}
.container:global(.slide-right) .section_2 {
  animation: slideOutLeft 1.3s cubic-bezier(0.45, 0, 0.2, 1) forwards;
}

.section_1 {
  background-image: url("../../../Assets/background5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 113.3vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    circle,
    rgba(197, 209, 214, 1) 76%,
    rgba(190, 202, 206, 1) 89%,
    rgba(166, 176, 180, 1) 100%,
    rgba(154, 163, 166, 1) 100%
  );

  width: 115vh;
  height: 100vh;
}

.container .form,
.container .form {
  will-change: transform, opacity;
}
.form {
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
  color: #353535;
  transform-origin: top center;
  overflow: hidden;
}

@keyframes formDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container:global(.slide-right) .form,
.container:global(.slide-left) .form {
  animation: formDown 600ms cubic-bezier(0.9, 1, 0.9, 1) reverse;
}

.form h1,
h2 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form h2 {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.logo img {
  width: 3.5rem;
  height: 3.5rem;
}
