.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container .section_1,
.container .section_2 {
  transition: transform 550ms ease-in-out, opacity 550ms ease-in-out;
}

.container:global(.slide-left) .section_1 {
  transform: translateX(-100%);
  opacity: 0.98;
}
.container:global(.slide-left) .section_2 {
  transform: translateX(100%);
  opacity: 0.98;
}

.container:global(.slide-right) .section_1 {
  transform: translateX(100%);
  opacity: 0.98;
}
.container:global(.slide-right) .section_2 {
  transform: translateX(-100%);
  opacity: 0.98;
}

.section_1 {
  background-image: url("../../../Assets/background5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 113.3vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    circle,
    rgba(197, 209, 214, 1) 76%,
    rgba(190, 202, 206, 1) 89%,
    rgba(166, 176, 180, 1) 100%,
    rgba(154, 163, 166, 1) 100%
  );

  width: 115vh;
  height: 100vh;
}
.form {
  width: 25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;

  color: #353535;
  /*background-color: blue;*/
}

.form h1,
h2 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form h2 {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.logo img {
  width: 3.5rem;
  height: 3.5rem;
}
